
#startupDetailsContainer {
    display : flex;
    justify-content: space-evenly;
    color:rgb(0, 0, 0);
}

.startupDetail{
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    padding: 4px;
    border-radius:7px;
    border-width:2px;
    border-style:outset;
    border-color:rgb(0, 0, 0);
}

.detail{
    display : flex;
    flex-wrap: nowrap;
    font-family: Courier New;

}

b {
    color: #DC143C;

}