<!DOCTYPE html>
<html>
<head>
<title>add startup form</title>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAVgSFJ6RKDN8CfoMjrfz3Q3vz7xTmbegs",
            authDomain: "sourcing-stratups.firebaseapp.com",
            databaseURL: "https://sourcing-stratups.firebaseio.com",
            projectId: "sourcing-stratups",
            storageBucket: "sourcing-stratups.appspot.com",
            messagingSenderId: "1034458885429"
        };
        firebase.initializeApp(config);
    </script>
    <script src="/js/addStartup.js"></script>

</head>

<body>
    <div class='container'>
        <p>Add a startup: <input id ="addStartup"/></p>
        <button class = 'button' onclick = {addStartup()}>Add now.</button>
    </div>

   <div>
        <% var keys =Object.keys(startups) %>
        <% keys.forEach(function(key){%>
            <p><%= startups[key].entreprise%></p>
        <% })%>
    </div>

</body>


</html>


<!--
<form action="/startup/add/" enctype='application/json' method="post">
    company details:
    <br>
    <label for="id">id</label>
    <input type="number" name="id" value="id">
    <br>
    <label for="startup">startup details :</label>
    <input type="text" name="company" value="company name :">
    <br>
    <input type="text" name="country" value="country">
    <br>
    <input type="text" name="keywords" value="keywords 1">
    <input type="text" name="keywords" value="keywords 2">
    <input type="text" name="keywords" value="keywords 3">
    <br>
    <input type="text" name="descriptif" value="descriptif">
    <br>
    <input type="text" name="creation_date" value="creation_date">
    <br>
    <input type="number" name="funds" value="funds">
    <br>
    <input type="text" name="contact" value="contact">
    <br>
    <input type="text" name="email" value="email">
    <br>
    <input type="checkbox" name="target" checked>
    <br>
    <input type="submit" value="OK">
</form>
-->