<form action="/startup/add/" enctype='application/json' method="post">
    company details:
    <br>
    <label for="id">id</label>
    <input type="number" name="id" value="id">
    <br>
    <label for="startup">startup details :</label>
    <input type="text" name="company" value="company name :">
    <br>
    <input type="text" name="country" value="country">
    <br>
    <input type="text" name="keywords" value="keywords 1">
    <input type="text" name="keywords" value="keywords 2">
    <input type="text" name="keywords" value="keywords 3">
    <br>
    <input type="text" name="descriptif" value="descriptif">
    <br>
    <input type="text" name="creation_date" value="creation_date">
    <br>
    <input type="number" name="funds" value="funds">
    <br>
    <input type="text" name="contact" value="contact">
    <br>
    <input type="text" name="email" value="email">
    <br>
    <input type="checkbox" name="target" checked>
    <br>
    <input type="submit" value="OK">
</form>