<!DOCTYPE html>
<html>
    <head>
        <title>Query form</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>

    <body>
        <div>
            <label for='query'>write your query...</labl>
            <input type='text' id='query' name='query'>
            <button type="submit" class="btn btn-lg btn-success pull-right"> find...</button>
        </div>
    </body>
</html>