<!DOCTYPE html>
<html>
    <head>
        <title>Startups list</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyAVgSFJ6RKDN8CfoMjrfz3Q3vz7xTmbegs",
                authDomain: "sourcing-stratups.firebaseapp.com",
                databaseURL: "https://sourcing-stratups.firebaseio.com",
                projectId: "sourcing-stratups",
                storageBucket: "sourcing-stratups.appspot.com",
                messagingSenderId: "1034458885429"
            };
            firebase.initializeApp(config);
        </script>
    </head>
    <body>
        <p>startup list</p>
        <div>
            <% var keys =Object.keys(startups) %>
                <% keys.forEach(function(key){%>
        
            <div class="startupDetail">
                    <div class="detail">
                    <%= startups[key].entreprise%>
                    </div>
                    <div class="detail">
                    <%= startups[key].keywords%>
                    </div>
                    <div class="detail">
                    <%= startups[key].descriptif%>
                    </div>
            </div>
            <% })%>
        </div>

    </body>


</html>
